<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="width: 120px; display: inline-block">
                <object>
                    <embed src="static/img/teknov-logo-06.svg" />
                </object>
            </a>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li data-menuanchor="home" class="active"><a href="#home">Home</a></li>
                <li data-menuanchor="services"><a href="#services">Services</a></li>
                <li data-menuanchor="aboutUs"><a href="#aboutUs">About</a></li>
                <li data-menuanchor="team"><a href="#team">Team</a></li>
               <li data-menuanchor="contactUs"><a href="#contactUs">Contact Us</a></li>
            </ul>
        </div>
    </div>
</nav>