
    <div class="content container">
        <div class="col-md-12">
            <div class="svg-container">
                <object>
                    <embed src="static/img/about-teknov-10.svg" />
                </object>

            </div>
            <div>
                <p>We're a fun team of people with multi-disciplinary - but highly specialized - backgrounds in
                    product design and developmentsssssssss</p>
            </div>
            <div>
                <object>
                    <embed src="static/img/about-teknov-11.svg" />
                </object>
            </div>
        </div>
    </div>
