<div class="content container center-block">
	<div class="row">
		<div class="col-md-6">
				<h4 class="center-block">Fancy a chat?</h4> 
				<p>If you're excited to to build something and curious<br/>
				about what we do, let's discuss over coffee.
				</p>
				<p>For general inquiries, need a friend, or if you<br/>
				have a project in mind and wants to get the ball <br/>
				rolling, then drop us a note.
				</p>
		</div>
		<div id="info" class="col-md-6">
				<h2>Makati City Philippines</h2>
				<h3>PH: +632-906-000-0000</h3>
				<h3>info@teknov.com</h3> 
		</div>
	</div>
	
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row"></div>
	<div class="row">
		<div id="coyright" class="col-md-12 text-center"><h6>&copy; 2016 Teknov</h6></div>
	</div>
</div>
