
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <p>We create Mobile Applications<p>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="svg-container">
                    <object>
                        <embed src="static/img/tw-talk.svg" />
                    </object>
                </div>

                <p>Talk</p>

                <p>We take the time to know your ideas and goals. Let's collaborate.</p>

            </div>
            <div class="col-md-4 col-xs-12">
                <div class="svg-container">
                    <object>
                        <embed src="static/img/tw-build.svg" />
                    </object>
                </div>

                <p>Build</p>

                <p>From prototype to functional products, we will craft with you each step of the way</p>
            </div>

            <div class="col-md-4 col-xs-12">
                <div class="svg-container">
                    <object>
                        <embed src="static/img/tw-test.svg" />
                    </object>
                </div>

                <p>Test & Iteratessssssssssss</p>

                <p>Quality in every detail, that's what we are striving for. </p>
            </div>
        </div>
    </div>
